<span class="post-meta">{{#if primary_author.profile_image}}<img src="{{primary_author.profile_image}}" alt="Author image" class="author-image" />{{/if}} {{authors separator=", "}} {{tags prefix=(t "in ") separator=", "}} <time datetime="{{date format='YYYY-MM-DD'}}">{{date timeago="true"}}</time></span>
