{{#foreach posts}}

<article class="{{post_class}}">
  <header class="post-header">
    <h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>
    {{> "post-meta"}}
  </header>

  {{excerpt}}
</article>

{{/foreach}}

{{pagination}}
